@using project_63132835.Models;
@model List<ChuDe>


@foreach (var item in Model)
{
    <a href="@Url.Action("SachTheoChuDe",new {@MaChuDe=item.MaChuDe})" class="button button-submit">@item.TenChuDe</a>
}
<a href="@Url.Action("DanhMucChuDe")" class="button button-submit">Chủ Đề khác</a>



